<div class='form-group'>
  <div class = "checkbox">
    <%= u.label(:double_kick, :class => 'control-label') do %>
      <%= u.check_box(:double_kick)%>Double Kick
    <% end %>
  </div>
</div>
<%= render(partial: 'musical_hobbies/form', locals: {u: u}) %>
