$navbarHeight: 70px;
$footerHeight: 50px;
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900,700,500,300);
nav {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbarHeight;
  line-height: $navbarHeight;
  padding-left: 15px;
  padding-right: 15px;
  div {
    display: inline-block;
  }
  .navbar-right {
    float: right;
  }
  a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5em;
  }
}

footer {
  font-size: 0.85em;
  margin-top: -$footerHeight;
  height: $footerHeight;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow:hidden;
  line-height: $footerHeight - 20px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  ul, div, p {
    margin: 0;
    padding: 0;
  }
  div {
    display: inline-block;
  }
  li {
    display: inline-block;
    border-right: 1px solid black;
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  li:last-of-type {
    border-right: none;
  }
  .footer-right {
    float: right;
  }
}

html, body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: $navbarHeight;
  box-sizing: border-box;
  font-size: 1.2em;
  font-weight: 300;
}

.fill-viewport {
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  padding-bottom: $footerHeight;
}

.welcome {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 30px;
  .about {
    padding-top: 50px;
    margin-bottom: 50px;
    h1 {
      font-size: 3em;
    }
  }
  .get-started {
    padding-left: 24px;
    padding-right: 24px;
  }
}
