<div class = 'form-group'>
	<%= u.label(:range, "Select your range", :class => 'control-label') %>
	<%= u.select(:range, ['Bass', 'Baritone', 'Tenor', 'Alto','Soprano'], :class => 'form-control')%>
</div>
