

<div>
	<%= form_for(:user, :url => {:action => 'update'}) do |user| %>

		<%= render(:partial => 'form', :locals => {:u => user}) %>

		<div>
			<%= submit_tag("Update User") %>
		</div>
		<%= link_to("Cancel edit", :action => 'show') %>
	<% end %>
<div>