<form>
  <input type="text"/>
</form>
<% @users.each do |user| %>
  <div class="result-profile">
    <div>
      <img src="http://placehold.it/150x150" class="img-thumbnail" />
      <h1><%= user.username %></h1>
    </div>
    <table>
      <tr>
        <td><%= user.city %></td>
      </tr>
    </table>
    <ul>
      <% user.musicians.each do |instrument| %>
        <li>
          <%= instrument.specific.class.name %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
