<section>
  <div class="page-header">
    <h1>
      Here are some other users
    </h1>
  </div>
  <!-- <form>
    <input type="text"/>
  </form> -->
  <ul class="search-results">
    <% @users.each do |user| %>
      <%= render(partial: 'result_profile', locals: {user: user}) %>
    <% end %>
  </ul>
</section>
