<div class="footer-links">
  <ul>
    <li>
      &copy; Takeru Komiya
    </li>
    <li>
      <a href="https://github.com/tkomiya24/hobby_site/issues/new">
        Leave Feedback
      </a>
    </li>
    <li>
      <a href="https://github.com/tkomiya24/hobby_site">
        See the code
      </a>
    </li>
  </ul>
</div>
