<div class="navbar-header">
  <div class="navbar-logo">
    h_s
  </div>
</div>
<div class="navbar-right">
  <div class="navbar-links">
    <%= link_to(login_user_path) do %>
      <button>Sign in</button>
    <% end %>
    <%= link_to(new_user_path) do %>
      <button>Register</button>
    <% end %>
  </div>
</div>
