<div class="navbar-header">
  <div class="navbar-logo">
    h_s
  </div>
</div>
<div class="navbar-right">
  <div class="navbar-links">
    <%= link_to('Sign In', login_user_path, role: 'button') %>
    <%= link_to('Register', new_user_path, role: 'button') %>
  </div>
</div>
