
<div>
	<h1>Some musicians in your area</h1>
		<% length = @matches.size + (@matches.size % 3) %>
		<% for i in 0..length - 1 %>
			<% if i%3 == 0 %>
				<div class='row'>
			<% end %>
			<div class ='col-xs-4'>

				<% if @matches[i] %>
				<div class = 'panel panel-primary'>

					<div class = 'panel-heading'>
						<span class='panel-title'>
							<i class='glyphicon glyphicon-user'></i>
							<%= link_to(:controller => 'users', :action => 'show', :id => @matches[i]) do %>
								<%= @matches[i].username %>
							<% end %>
						</span>
					</div>

				</div>
				<% end %>
			</div>
			<% if i%3 == 2 %>
				</div>
			<% end %>
		<% end %>

</div>