<div class="fill-viewport welcome">
  <section class="about">
    <h1>About hobby_site</h1>
    <p>
      This is a website where musicians interact with other musicians.
      Find others based on their instrument, skill level,
      review scores, and form a band.
      Review other musicians you know that are awesome.
    </p>
  </section>
  <div class="get-started">
    <h3>Get started</h3>
    <%= link_to('Sign Up', new_user_path) %>
    <p>
      <small>Already a member?</small>
    </p>
    <%= link_to('Log in', login_user_path) %>
  </div>
</div>
