<table summary="Guitarist form fields">
	<tr>
		<th><%= u.label(:rhythm_or_lead, "Do you play rhythm or lead?") %></th>
		<td><%= u.select(:rhythm_or_lead, ['Rhythm', 'Lead', 'Both'])%></td>
	</tr>
	<%= render(:partial => 'application/instrument_common_fields_form', :locals => {:u => u}) %>
</table>