.user-profile {
  margin-bottom: 20px;
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 2px;
}

.profile-header {
  h1 {
    display: inline-block;
    margin-left: 0.3em;
  }
  margin-bottom: 1em;
}

.profile {
  text-align: center;
  table {
    font-size: 1.2em;
    width: 75%;
    border-spacing: 2px;
    margin: auto;
    th {
      padding: 5px;
      text-align: right;
    }
    td {
      padding: 5px;
      text-align: left;
    }
  }
}

.tab-pane {
  border-left: 1px solid $borderColour;
  border-right: 1px solid $borderColour;
  padding: 10px;
}

.user-form {
  input.form-control {
    display: inline-block;
  }
  .form-control {
    width: 70%;
    margin-left: 1%;
    margin-right: auto;
  }
  .control-label {
    width: 20%;
    margin-right: 1%;
    margin-left: auto;
  }
  .field_with_errors {
    display: inline;
  }
}
