.profile {
  text-align: center;
  table {
    width: 75%;
    border-spacing: 2px;
    margin: auto;
    th {
      margin: 2px;
      text-align: right;
    }
    td {
      margin: 2px;
      text-align: left;
    }
  }
}
