.profile {
  text-align: center;
  table {
    font-size: 1.2em;
    width: 75%;
    border-spacing: 2px;
    margin: auto;
    th {
      padding: 5px;
      text-align: right;
    }
    td {
      padding: 5px;
      text-align: left;
    }
  }
}
